name: POC-10 EC2 CI/CD Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1 - Checkout repo
      - name: Checkout Code
        uses: actions/checkout@v4

      # Step 2 - SSH into EC2 and deploy
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            echo "Connected to EC2"

            # conditional check to install nodejs
            if ! command -v node >/dev/null 2>&1; then
              echo "Node not found, Installing it..."
              sudo apt update

              sudo apt install nodejs -y
            else
              echo "Node already installed"
            fi

            # conditional check to install npm
            if ! command -v npm >/dev/null 2>&1; then
              echo "NPM not found, Installing it..."

              sudo apt install npm -y
            else
              echo "NPM already installed"
            fi

            # conditional check to install pm2
            if ! command -v pm2 >/dev/null 2>&1; then
              echo "PM2 not found, Installing it..."

              sudo npm i pm2 -g
            else
              echo "PM2 already installed"
            fi

            # Create a app dir, if exists mkdir does nothing like no error
            sudo mkdir -p /var/www/poc10-app

            # CHOWN of that app
            sudo chown ${{ secrets.EC2_USER }}:${{ secrets.EC2_USER }} /var/www/poc10-app

            # Go to the app dir
            cd /var/www/poc10-app || exit 1


            # check if .git is there in the app
            if [ -d .git ]; then
                echo "Git repo found!"
                echo "Pulling latest changes"

                git pull
            else
                echo "Git repo not found!"
                echo "Cloning the repo"

                git clone "https://github.com/arjunsharma6622/poc10-aws-app" .
            fi

            echo "Chanding directory to app"
            cd app

            echo "Installing npm..."
            npm i

            echo "Starting/Reloading PM2"
            pm2 start ecosystem.config.js || pm2 reload ecosystem.config.js

            echo "Deployment Completed Succesfully"
